- ./src/content/config.ts

```js
export const collections = {
    ...
    {{ range . }}
    "{{ .DirName }}": examCollection,{{ end }} 
}
```

- ./src/pages/index.astro

```js
const exams = [
    ...
    {{ range . }}
    ["{{ .DirName }}", "<exam name>", "<exam code>"],{{ end }}
]
```

- ./src/pages/[exam]/index.astro

```js
return [
    ...
    {{ range . }}
    { name: "{{ .DirName }}, total: {{ .Total }} },{{ end }}
]
```

- ./src/pages/[exam]/[page].astro

```js
export async function getStaticPaths({ paginate }: any) {
    const allExams = [
        ...
        {{ range . }}
        await getCollection("{{ .DirName }}"),{{ end }}
    ]
}
```
